.button-component {
  background-color: #138263; 
  color: white;
  border: none;
  border-radius: 12px; 
  font-size: 20px; 
  font-weight: bold; 
  cursor: pointer;
  outline: none; 
  transition: background-color 0.3s ease; 
  width: 370px; 
  height: 66px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-family: 'Figtree', Arial, Helvetica, sans-serif;
}

.button-component:hover {
  background-color: #15724e; 
}

.button-component:active {
  background-color: #10593c; 
}

.button-component:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.7; 
}